# https://github.com/github/gitignore

# general
[Tt]humbs.db
.DS_Store
*~
*.bak
*.tmp

# gradle
.gradle/
build/

# VS code
.vscode/

# intellij
.idea/
out/

# eclipse
.project
.classpath
.settings/
local.properties
.settings/
.loadpath
.recommenders
*.launch
.externalToolBuilders/
bin/
